{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3 class="mt-5">Expenses</h3>
    {% for expense in expenses %}

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{ expense.expensename }}</div>
                        <div class="col-md-2">{{ expense.date }}</div>
                        <div class="col-md-2">{{ expense.amount }}</div>
                        <div class="col-md-2"> 
                            <span class="badge badge-primary"> {{ expense.category }}</span>
                           </div>
                           <div class="col-md-2">
                               <a href="/updateexpense/{{ expense.id }}" class="btn btn-sm btn-success">Edit</a>
                           </div>
                           <div class="col-md-2">
                            <a href="/delete/{{ expense.id }}"  class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {% endfor %}

    
    <div class="row">
        <div class="col-md-6">

        <h3 class="mt-5">Expense BreakDown</h3>

        <div class="card shadow bb-2 bg-white grounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">Food</div>
                    <div id="t_food" class="col-md-6">{{ total_food }}</div>
                </div>
            </div>
        </div>
        <div class="card shadow bb-2 bg-white grounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">Entertainment</div>
                    <div id="t_entertainment" class="col-md-6">{{ total_entertainment  }}</div>
                </div>
            </div>
        </div>
        <div class="card shadow bb-2 bg-white grounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">Other</div>
                    <div id="t_other" class="col-md-6">{{ total_other }}</div>
                </div>
            </div>
        </div>
        <div class="card shadow bb-2 bg-white grounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">Business</div>
                    <div id="t_business" class="col-md-6">{{ total_business }}</div>
                </div>
            </div>
        </div>
        <div class="card shadow bb-2 bg-white grounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">Total</div>
                    <div id="total" class="col-md-6">{{ total }}</div>
                </div>
            </div>
        </div>
        
    </div>


    <div class="col-md-6">
        <h3>Expense BreakDown</h3>
        <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
let food = document.getElementById('t_food').innerHTML
let entertainment = document.getElementById('t_entertainment').innerHTML
let business = document.getElementById('t_business').innerHTML
let other = document.getElementById('t_other').innerHTML



var myChart = new Chart(ctx, {
    type: 'pie',
    data: {

        labels: ['Food', 'Entertainment', 'Business', 'Other'],
        datasets: [{
            label: '# of Votes',
            data: [food,entertainment,business,other],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
    </div>
    </div>
</div>


{% endblock %}